{{define "row"}}<div class="row">{{range .Children}}{{.}}{{end}}</div>{{end}}

{{define "column"}}<div class="{{.Class}}">{{range .Children}}{{.}}{{end}}</div>{{end}}

{{define "grid"}}<div class="{{.Class}}">{{range .Children}}{{.}}{{end}}</div>{{end}}

{{define "griditem"}}<div class="{{.Class}}">{{range .Children}}{{.}}{{end}}</div>{{end}}
