{{define "section"}}<section><h2>{{.Title}}</h2>{{range .Children}}{{.}}{{end}}</section>{{end}}

{{define "article"}}<article><header><h3>{{.Title}}</h3></header>{{range .Children}}{{.}}{{end}}</article>{{end}}
