<!doctype html>
<html lang="{{.Lang}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.Title}}</title>
{{.ProviderHead}}
{{range .Head}}{{.}}
{{end}}</head>
<body>
<div class="stitch-page">
<header>{{range .Header}}{{.}}{{end}}</header>
<main>{{range .Main}}{{.}}{{end}}</main>
<footer>{{range .Footer}}{{.}}{{end}}</footer>
</div>
</body>
</html>